* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --todo-input-bg: hsl(235, 24%, 19%);
    --todo-item-wrapper-bg: hsl(235, 24%, 19%);
    --todo-item-bg: hsl(235, 24%, 19%);
    --bg-color: hsl(235, 21%, 11%);
    --text-color: hsl(234, 39%, 85%);
    --border-color: hsl(237, 14%, 26%);
    --input-text-color:hsl(234, 39%, 85%);
    --button-color: hsl(0, 0%, 100%);
    --item-info-color: hsl(235, 11%, 56%);
    /* hsl(237, 14%, 26%)  hsl(233, 11%, 84%) */
}   

@media only screen and (max-width: 500px) {

    .items-left{
        display: none;
        color: red;
    }
    .clear{
        display: none;
    }
    .items-statuses{
        margin-left: auto;
        margin-right: auto;
    }

    .hidden-info{
        display: flex !important;
        /* height: 70px; */
        /* border-radius: 7px; */
    }

    .todo-items-info {
    display: none;
    background-color: var(--todo-item-bg);
    border-bottom: 1px solid var(--border-color );
    margin-top: 2rem;
    height: 70px;
    width: 100%;
    color: var(--item-info-color);
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 3rem;
    -webkit-box-orient: justify;
}

}

body {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--bg-color);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 30px;
    margin-top: 100px;  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}

.new-todo {
    background-color: var(--todo-input-bg);
    height: 70px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
}

.check { 
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(237, 14%, 26%);    
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark .light{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 98%);    
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark:hover{
    border: 1px solid transparent;
    border-color: rebeccapurple;
}

.check-mark.checked {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.check-mark img {
    visibility: hidden;
}

.check-mark:hover, .check-mark.checked img {
    visibility: visible;
}

.check-mark.checked text {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}

.todo-text.complete {
    text-decoration: line-through;
    color: grey;
}


.remove {
    display: flex;
    justify-content: center;
    align-self: center;
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-right: 20px;
    margin-left: auto;
    float: left;
    opacity: 0;
}

.todo-item:hover .remove{
    opacity: 2;
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--input-text-color);
    /* ece */
    font-size: 18px;
    margin-left: 20px;
}

.new-todo-input input::placeholder {
    color: hsl(233, 15%, 35%);
}

.todo-item {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: var(--todo-item-bg);
    border-bottom: 1px solid var(--border-color );
    /* color: hsl(234, 39%, 85%); */
    color: var(--text-color);
    font-size: 18px;
    transition: all 0.25s ease;
    /* display: flex; */
    cursor: pointer;
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
}

.todo-items-wrapper {
    margin-top: 30px;
    background-color: var(--todo-item-wrapper-bg);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    /* max-height: 300px;
    overflow-y: scroll; */
}

/* .todo-items-wrapper::-webkit-scrollbar { 
    background-color: var(--todo-item-wrapper-bg);
} */

.todo-text {
    display: flex;
    align-items: center;
}

.todo-items-info {
    height: 70px;
    /* width: 100%; */
    color: hsl(233, 14%, 35%);
    display: flex;
    justify-content: space-between;
    /* padding: 0, 30px; */
    background-color: var(--todo-item-bg);
    border-bottom: 1px solid var(--border-color );
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

.all_btn{
    background-color: transparent;
    border: none;
    padding-right: 10px;
    color: hsl(233, 14%, 35%);
    font-size: 16px;
}

.active_btn{
    background-color: transparent;
    border: none; 
    padding-right: 10px;
    color: hsl(233, 14%, 35%);
    font-size: 16px;
}

/* .active_btn:active {
    color: blue;
} */

.complete_btn{
    background-color: transparent;
    border: none;
    color: hsl(233, 14%, 35%);
    font-size: 16px;
}

/* .complete_btn:active {
    color: blue;
} */

button{
    font-family: inherit;
}

button:active {
    color: blue;
}

button:focus{
    color: blue;
}

button:hover {
    color: var(--button-color);
    cursor: pointer;
}

/* .todo-items-info {
    background-color: var(--todo-item-bg);
    border-bottom: 1px solid var(--border-color );
    margin-top: 2rem;
    height: 70px;
    width: 100%;
    color: hsl(233, 14%, 35%);
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 3rem;
    -webkit-box-orient: justify;
} */



.hidden-info{
    /* visibility: hidden; */
    display: none;
    height: 70px;
    background-color: var(--todo-item-bg);
    border-bottom: 1px solid var(--border-color );
    justify-content: space-between;
    align-items: center;
    color: hsl(233, 14%, 35%);
    justify-self: center;
    justify-items: stretch;
    padding-left: 30px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-right: 30px;
    /* padding: 25px 25px; */
}

.items-statuses {
    display: flex;
    justify-content: center;
}

.items-statuses span {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.items-statuses span:hover, .items-statuses span.active, .items-clear:hover {
    color: hsl(220, 98%, 61%);
}

.items-clear {
    cursor: pointer;
    text-align: end;
}

.todocoll.dragging {
    /* opacity: 0; */
    display: none;
}

.clear {
    background-color: transparent;
    border: none; 
    padding-right: 10px;
    color: hsl(233, 14%, 35%);
    font-size: 16px;
}

.clear_h {
    background-color: transparent;
    border: none; 
    padding-right: 10px;
    color: hsl(233, 14%, 35%);
    font-size: 16px;
}

.drag-help-info {
    display: flex;
    color: hsl(235, 11%, 56%);
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}